.message-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2;
    width: 500px;
    margin-top: 10px;
}

.room-header{
    display: flex;
    justify-content: space-between;
    background-color: #007bff;
    border-radius: 5px 5px 0 0;
    width: 100%;
    position: fixed;
    top: 0;
}

.room-name{
    padding-left: 25px;
    color: #fff;
}

.leave-button{
    padding: 10px;
    background-color: #ff1e00;
    color: #fff;
    border: none;
    border-radius: 0 5px 0 0;
    cursor: pointer;
}

.messages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 55px;
    gap: 10px;
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #e6e6e6;
    border-radius: 5px;
    min-width: 175px;
    width: max-content;
    max-width: 450px;
    word-wrap: break-word;
}

.message:last-child {
    margin-bottom: 60px;
}

.message-user {
    background-color: #d0d0d0;
    border-radius: 5px 5px 0 0;
    margin-top: 0;
    padding: 5px 10px 5px 10px;
    font-size: 14px;
    font-weight:200;
    color: #333;

}

.message-text {
    font-size: 14px;
    color: #333;
    border-radius: 5px;
    margin-top: 0; 
    padding: 0 10px 0 10px;
}

/* .message {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 80%;
  }
  
.message-user {
    background-color: #007bff;
    color: #fff;
    align-self: flex-end;
  }
.message-text {
    font-size: 14px;
    line-height: 1.5;
  } */


.new-message-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.new-message-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.send-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.send-button:hover {
    background-color: #0056b3;
}
