.create-room-sec, .join-room-sec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    width: 100%;
    border: 1px solid #d3e6fa;
    border-radius: 5px;
    padding: 0 10px 10px 10px; 
}

.create-room-label, .join-room-label {
    color: #d3e6fa;
    font-size: 15px;
    margin: 5px;
}

.create-room, .join-room {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

.room-name-input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    flex-grow: 1;
}

.room-name-input-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}