.friend-list-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #0985F7;
    width: 100%;
    height: 100%;
}

.search-friend {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.type-area {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 10px;
    background-color: #d2e8ff;
    border-radius: 20px;
}

/* Styling for the Search friend input */
.search-friend-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
}

/* Styling for the Search friend button */
.search-friend-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin: 5px;
}

.search-icon {
    height: 20px;
}

/* Hover effect for the Search friend button */
.search-friend-button:hover {
    background-color: #0056b3;
}

.friend-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
    gap: 5px;
}

.friend {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #0056b3;
    border-radius: 5px;
    width: 100%;
}

.friend:hover {
    background-color: #0163c5;
}

.friend.clicked {
    background-color: #026bd4;
}

.friend-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: aqua;
    margin: 10px 15px 10px 15px;
}

.friend-info {
    gap: 5px;
}

.friend-name {
    font-size: 14px;
    padding: 0;
    background-color: transparent;
    color: #b5d5f7;
    margin-bottom: 0;
}

.friend-email {
    font-size: 12px;
    padding: 0;
    background-color: transparent;
    color: #92c2f7;
    margin: 0 0 4px 0;
}

.friend-last-message {
    font-size: 12px;
    padding: 0;
    background-color: transparent;
    color: #d2e8ff;
    margin-top: 4px;
}

.friend-request {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.friend-request-text {
    font-size: 12px;
    padding: 0;
    background-color: transparent;
    color: #d2e8ff;
    margin: 0 0 4px 0;
}

.friend-request-accept-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}

.friend-request-reject-button {
    padding: 10px 20px;
    background-color: #ff1e00;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}
