.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #003c70;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.logo {
    height: 30px;
    margin: 0 10px 0 10px;
}

.icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    height: 20px;
    margin: 0 10px 0 10px;
    cursor: pointer;
}

li {
    list-style: none;
}