.App {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  /* justify-content: space-between; */
}

.AppMobile {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
}

.signin-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right,#52acfa, #195994, #01213e);
}

.menu {
  width: 35%;
  min-width: 430px;
  height: 100vh;
  overflow-y: auto;
  position: relative;
  z-index: 1;
}

.chat-room {
  width: 75%;
  height: 100vh;
  overflow-y: auto;
}

.create-room {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
margin: 20px;
}

/* Mobile view */
@media only screen and (max-width: 767px) {

  .chat-room {
    width: 100%;
  }
}


